.git
.gitignore
.env
.env.*.local
.vscode
.idea
node_modules
vendor
storage/logs
storage/cache
bootstrap/cache
.DS_Store
*.log
*.swp
*.swo
*~
.phpunit.result.cache
npm-debug.log
yarn-error.log
Thumbs.db
.editorconfig
.prettierrc
.gitattributes
